* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: .8px;
  text-decoration: none;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #f0f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}

@media (max-width: 780px) {
  .page {
    background: url("../assets/img/bg-sidebar-mobile.svg");
    background-color: #f0f6ff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s all;
    align-items: flex-start;
  }
}

.page .modal {
  width: 940px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px rgba(150, 153, 171, 0.2);
  padding: 15px;
  margin: 20px;
  display: grid;
  grid-template-columns: 273px 1fr;
  transition: 1s all;
}

@media (max-width: 780px) {
  .page .modal {
    display: block;
    height: max-content;
    margin-top: 120px;
  }
}

.page .modal .sidebar {
  max-height: 567px;
  background-image: url("../assets/img/bg-sidebar-desktop.svg");
  padding: 40px 30px;
  transition: 1s all;
}

@media (max-width: 780px) {
  .page .modal .sidebar {
    width: 85%;
    position: absolute;
    background: none;
    top: 0;
  }
}

.page .modal .sidebar .box-sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 1s all;
}

@media (max-width: 780px) {
  .page .modal .sidebar .box-sidebar {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}

.page .modal .sidebar .box-sidebar .sidebar-indice {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  transition: 1s all;
}

.page .modal .sidebar .box-sidebar .sidebar-indice.active .indice {
  background-color: #f0f6ff;
  color: #02295a;
}

.page .modal .sidebar .box-sidebar .sidebar-indice .indice {
  border: 1px solid white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .modal .sidebar .box-sidebar .sidebar-indice .lista {
  display: block;
}

@media (max-width: 780px) {
  .page .modal .sidebar .box-sidebar .sidebar-indice .lista {
    display: none;
  }
}

.page .modal .sidebar .box-sidebar .sidebar-indice .lista .texto {
  font-size: 13px;
  font-weight: 100;
  opacity: .5;
}

.page .modal .contente {
  padding: 40px 100px 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 780px) {
  .page .modal .contente {
    padding: 40px 20px;
  }
}

.page .modal .contente .box-contente {
  display: none;
  transition: 1s all;
}

.page .modal .contente .box-contente.active {
  display: block;
}

.page .modal .contente .box-contente .titulo {
  font-size: 2em;
  color: #02295a;
  margin-bottom: 15px;
}

@media (max-width: 780px) {
  .page .modal .contente .box-contente .titulo {
    font-size: 1.5em;
  }
}

.page .modal .contente .box-contente .subtitulo {
  font-size: 15px;
  color: #9699ab;
  font-weight: 300;
  margin-bottom: 45px;
}

.page .modal .contente .box-contente .container-checkbox {
  position: relative;
  cursor: pointer;
}

.page .modal .contente .box-contente .container-checkbox input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.page .modal .contente .box-contente .container-checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #473dff;
  border-color: #473dff;
}

.page .modal .contente .box-contente .container-checkbox input[type=checkbox]:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.page .modal .contente .box-contente .container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 23px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #9699ab;
}

.page .modal .contente .contente-info .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page .modal .contente .contente-info .form .linha-form .label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page .modal .contente .contente-info .form .linha-form .label .label-texto {
  font-size: 14px;
  color: #02295a;
}

.page .modal .contente .contente-info .form .linha-form .label .notificacao {
  font-size: 14px;
  color: #ed3548;
  font-weight: bold;
  display: none;
}

.page .modal .contente .contente-info .form .linha-form .input {
  width: 100%;
  height: 50px;
  border: solid 1px #9699ab;
  border-radius: 10px;
  padding: 10px 20px;
  color: #02295a;
}

.page .modal .contente .contente-info .form .linha-form .input:focus {
  outline: 1px solid #02295a;
  cursor: pointer;
}

.page .modal .contente .contente-info .form .linha-form.erro .notificacao {
  display: block;
}

.page .modal .contente .contente-info .form .linha-form.erro .input {
  border-color: #ed3548;
}

.page .modal .contente .contente-plan .box-plan {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 780px) {
  .page .modal .contente .contente-plan .box-plan {
    flex-direction: column;
    gap: 15px;
  }
}

.page .modal .contente .contente-plan .box-plan .btn-plan {
  width: 137px;
  min-height: 158px;
  max-height: 182px;
  padding: 15px;
  border: 1px solid #9699ab;
  border-radius: 10px;
}

@media (max-width: 780px) {
  .page .modal .contente .contente-plan .box-plan .btn-plan {
    width: 100%;
    height: 100%;
    min-width: max-content;
    min-height: min-content;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.page .modal .contente .contente-plan .box-plan .btn-plan .img {
  width: 40px;
  margin-bottom: 37px;
}

@media (max-width: 780px) {
  .page .modal .contente .contente-plan .box-plan .btn-plan .img {
    margin: 0;
  }
}

.page .modal .contente .contente-plan .box-plan .btn-plan .titulo {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
}

.page .modal .contente .contente-plan .box-plan .btn-plan .plano {
  display: none;
}

.page .modal .contente .contente-plan .box-plan .btn-plan .plano.active {
  display: block;
}

.page .modal .contente .contente-plan .box-plan .btn-plan .texto {
  color: #9699ab;
  font-weight: 200;
  font-size: 15px;
}

.page .modal .contente .contente-plan .box-plan .btn-plan .texto-bonus {
  color: #02295a;
  font-size: 12px;
  margin-top: 10px;
}

.page .modal .contente .contente-plan .box-plan .btn-plan:focus {
  border: 1px solid #02295a;
  background-color: #f0f6ff;
}

.page .modal .contente .contente-plan .box-plan .btn-plan:hover {
  border: 1px solid #02295a;
}

.page .modal .contente .contente-plan .texto-erro {
  text-align: center;
  margin-top: 10px;
  color: #ed3548;
  display: none;
}

.page .modal .contente .contente-plan .texto-erro.active {
  display: block;
}

.page .modal .contente .contente-plan .seletor {
  margin: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f0f6ff;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
}

.page .modal .contente .contente-plan .seletor .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.page .modal .contente .contente-plan .seletor .switch .input {
  opacity: 0;
  width: 0;
  height: 0;
}

.page .modal .contente .contente-plan .seletor .switch .input:checked + .slider::before {
  transform: translate(20px);
  -webkit-transform: translate(20px);
  -ms-transform: translate(20px);
}

.page .modal .contente .contente-plan .seletor .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02295a;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.page .modal .contente .contente-plan .seletor .switch .slider::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.page .modal .contente .contente-plan .seletor .texto {
  font-size: 14px;
  color: #9699ab;
}

.page .modal .contente .contente-plan .seletor .texto.active {
  color: #02295a;
}

.page .modal .contente .contente-add .box-add {
  display: grid;
  gap: 15px;
}

.page .modal .contente .contente-add .box-add .label-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9699ab;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.page .modal .contente .contente-add .box-add .label-add.active {
  border-color: #473dff;
  background-color: #f0f6ff;
}

.page .modal .contente .contente-add .box-add .label-add:hover {
  border-color: #473dff;
}

.page .modal .contente .contente-add .box-add .label-add .coluna {
  display: flex;
  align-items: center;
  gap: 30px;
}

.page .modal .contente .contente-add .box-add .label-add .coluna .titulo {
  font-size: 16px;
  margin-bottom: 7px;
  font-weight: 500;
}

.page .modal .contente .contente-add .box-add .label-add .coluna .texto {
  color: #9699ab;
  font-size: 15px;
}

.page .modal .contente .contente-add .box-add .label-add .valor {
  color: #473dff;
  font-weight: 200;
}

.page .modal .contente .contente-finishing .box-resumo {
  background-color: #f0f6ff;
  padding: 20px;
  border-radius: 10px;
  font-weight: 300;
  color: #9699ab;
}

.page .modal .contente .contente-finishing .box-resumo .plano {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #02295a;
  font-weight: 700;
  border-bottom: 1px solid #9699ab;
  padding-bottom: 20px;
}

.page .modal .contente .contente-finishing .box-resumo .plano .texto-plano {
  margin-bottom: 10px;
}

.page .modal .contente .contente-finishing .box-resumo .plano .btn-reinicio {
  font-size: 14px;
  font-weight: 400;
  color: #9699ab;
  text-decoration: underline;
}

.page .modal .contente .contente-finishing .box-resumo .plano .btn-reinicio:hover {
  color: #473dff;
}

.page .modal .contente .contente-finishing .box-resumo .add {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page .modal .contente .contente-finishing .box-resumo .add .texto-add {
  font-size: 14px;
  font-weight: 400;
  color: #9699ab;
}

.page .modal .contente .contente-finishing .box-resumo .add .valor-add {
  font-size: 14px;
  font-weight: 400;
  color: #02295a;
}

.page .modal .contente .contente-finishing .box-total {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page .modal .contente .contente-finishing .box-total .texto-total {
  font-size: 14px;
  color: #9699ab;
  font-weight: 400;
}

.page .modal .contente .contente-finishing .box-total .valor-total {
  color: #473dff;
  font-weight: 700;
  font-size: 18px !important;
}

.page .modal .contente .contente-thanks {
  height: 100%;
}

.page .modal .contente .contente-thanks .box-thanks {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page .modal .contente .contente-thanks .box-thanks .img {
  margin-bottom: 30px;
}

@media (max-width: 780px) {
  .page .modal .contente .contente-thanks .box-thanks .img {
    width: 60px;
  }
}

.page .modal .contente .contente-thanks .box-thanks .subtitulo {
  line-height: 20px;
}

.page .modal .contente .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.page .modal .contente .footer.exit {
  display: none;
}

@media (max-width: 780px) {
  .page .modal .contente .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: white;
  }
}

.page .modal .contente .footer .btn {
  padding: 15px 20px;
  background-color: #02295a;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.page .modal .contente .footer .btn:hover {
  background-color: #14448d;
}

.page .modal .contente .footer .btn.confirm {
  background-color: #473dff;
}

.page .modal .contente .footer .btn.confirm:hover {
  opacity: .7;
}

.page .modal .contente .footer .btn-back {
  background: none;
  color: #9699ab;
  display: none;
}

.page .modal .contente .footer .btn-back.active {
  display: block;
}

.page .modal .contente .footer .btn-back:hover {
  background: none;
  color: #02295a;
}
