// Cores primarias
$azulMarinho: hsl(213, 96%, 18%);
$roxo: hsl(243, 100%, 62%);
$azulPastel: hsl(228, 100%, 84%);
$azulClaro: hsl(206, 94%, 87%);
$vermelhoMorango: hsl(354, 84%, 57%);

// Cores neutras
$cinzaFrio: hsl(231, 11%, 63%);
$cinzaClaro: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$branco: hsl(0, 0%, 100%);

// Hove
$azulMarinhoClaro: rgb(20, 68, 141);