@import 'padrao';
@import 'cores';
@import 'mobile';

.page {
    width: 100%;
    height: 100vh;
    background-color: $magnolia;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;

    @include mobile {
        background: url('../assets/img/bg-sidebar-mobile.svg');
        background-color: $magnolia;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 1s all;
    }

    .modal {
        width: 940px;
        height: 600px;
        background-color: $branco;
        border-radius: 15px;
        box-shadow: 1px 1px 10px 5px rgba($cinzaFrio, .2);
        padding: 15px;
        margin: 20px;
        display: grid;
        grid-template-columns: 273px 1fr;
        transition: 1s all;

        @include mobile {
            display: block;
            height: max-content;
        }

        .sidebar {
            max-height: 567px;
            background-image: url('../assets/img/bg-sidebar-desktop.svg');
            padding: 40px 30px;
            transition: 1s all;

            @include mobile {
                // display: none;
                width: 85%;
                position: absolute;
                background: none;
                top: 0;
            }

            .box-sidebar {
                display: flex;
                flex-direction: column;
                gap: 30px;
                transition: 1s all;

                @include mobile {
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                }
                
                .sidebar-indice {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: $branco;
                    transition: 1s all;

                    &.active {
                        .indice {
                            background-color: $magnolia;
                            color: $azulMarinho;
                        }
                    }

                    .indice {
                        border: 1px solid $branco;
                        border-radius: 100%;
                        width: 32px;
                        height: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    .lista {
                        display: block;

                        @include mobile {
                            display: none;
                        }

                        .texto {
                            font-size: 13px;
                            font-weight: 100;
                            opacity: .5;
                        }
                    }
                }
            }

        }

        .contente {
            padding: 40px 100px 20px 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            @include mobile {
                padding: 40px 20px;
            }

            // Estilo para todos os box-contente
            .box-contente {
                display: none;
                transition: 1s all;

                &.active {
                    display: block;
                }

                .titulo {
                    font-size: 2em;
                    color: $azulMarinho;
                    margin-bottom: 15px;
                }
    
                .subtitulo {
                    font-size: 15px;
                    color: $cinzaFrio;
                    font-weight: 300;
                    margin-bottom: 45px;
                }

                .container-checkbox {
                    position: relative;
                    cursor: pointer;

                    & input[type=checkbox] {
                        opacity: 0;
                        width: 0;
                        height: 0;

                        &:checked + .checkmark {
                            background-color: $roxo;
                            border-color: $roxo;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 5px;
                                top: 3px;
                                width: 5px;
                                height: 10px;
                                border: solid $branco;
                                border-width: 0 3px 3px 0;
                                transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                            }
                        }
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 23px;
                        background-color: $branco;
                        border-radius: 5px;
                        border: 1px solid $cinzaFrio;

                        
                    }
                }
            }

            // Tela Info
            .contente-info {
                .form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .linha-form {

                        .label {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            
                            .label-texto {
                                font-size: 14px;
                                color: $azulMarinho;
                            }
                            
                            .notificacao {
                                font-size: 14px;
                                color: $vermelhoMorango;
                                font-weight: bold;
                                display: none;
                            }
                        }
                        
                        .input {
                            width: 100%;
                            height: 50px;
                            border: solid 1px $cinzaFrio;
                            border-radius: 10px;
                            padding: 10px 20px;
                            color: $azulMarinho;
                            
                            &:focus {
                                outline: 1px solid $azulMarinho;
                                cursor: pointer;
                            }
                        }

                        &.erro {
                            .notificacao {
                                display: block;
                            }

                            .input {
                                border-color: $vermelhoMorango;
                            }
                        }
                    }
                }
            }

            // Tela Plan
            .contente-plan {

                .box-plan {
                    display: flex;
                    justify-content: space-around;

                    @include mobile {
                        flex-direction: column;
                        gap: 15px;
                    }

                    .btn-plan {
                        width: 137px;
                        min-height: 158px;
                        max-height: 182px;
                        padding: 15px;
                        border: 1px solid $cinzaFrio;
                        border-radius: 10px;

                        @include mobile {
                            width: 100%;
                            height: 100%;
                            min-width: max-content;
                            min-height: min-content;
                            display: flex;
                            align-items: center;
                            gap: 20px;
                        }

                        .img {
                            width: 40px;
                            margin-bottom: 37px;

                            @include mobile {
                                margin: 0;
                                // width: 60px;
                            }
                        }

                        .titulo {
                            font-size: 17px;
                            font-weight: 500;
                            margin-bottom: 8px;
                        }

                        .plano {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }

                        .texto {
                            color: $cinzaFrio;
                            font-weight: 200;
                            font-size: 15px;
                            // margin-bottom: 10px;
                        }

                        .texto-bonus {
                            color: $azulMarinho;
                            font-size: 12px;
                            margin-top: 10px;
                        }

                        &:focus {
                            border: 1px solid $azulMarinho;
                            background-color: $magnolia;
                        }
                        
                        &:hover {
                            border: 1px solid $azulMarinho;
                        }
                    }
                }

                .seletor {
                    margin: 25px 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    background-color: $magnolia;
                    height: 50px;
                    padding: 10px;
                    border-radius: 8px;

                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 40px;
                        height: 20px;

                        .input {
                            opacity: 0;
                            width: 0;
                            height: 0;

                            &:checked + .slider::before {
                                transform: translate(20px);
                                -webkit-transform: translate(20px);
                                -ms-transform: translate(20px);
                            }
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: $azulMarinho;
                            border-radius: 34px;
                            -webkit-transition: .4s;
                            transition: .4s;

                            &::before {
                                position: absolute;
                                content: '';
                                width: 12px;
                                height: 12px;
                                background-color: $branco;
                                border-radius: 50%;
                                left: 4px;
                                bottom: 4px;
                                -webkit-transition: .4s;
                                transition: .4s;
                            }
                        }
                    }
                    
                    .texto {
                        font-size: 14px;
                        color: $cinzaFrio;

                        &.active {
                            color: $azulMarinho;
                        }
                    }
                }
            }
            
            // Tela Add-ons
            .contente-add {
                
                .box-add {
                    display: grid;
                    gap: 15px;

                    .label-add {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid $cinzaFrio;
                        padding: 20px;
                        border-radius: 10px;
                        cursor: pointer;

                        &:hover {
                            border-color: $roxo;
                        }

                        // & input[type='checkbox']:checked {
                        //     background-color: $magnolia;
                        // }

                        .coluna {
                            display: flex;
                            align-items: center;
                            gap: 30px;

                            

                            .titulo {
                                font-size: 16px;
                                margin-bottom: 7px;
                                font-weight: 500;
                            }

                            .texto {
                                color: $cinzaFrio;
                                font-size: 15px;

                            }
                        }
                    }
                }
            }

            // Rodapé
            .footer {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                @include mobile {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: 15px;
                    background-color: $branco;
                }

                .btn {
                    padding: 15px 20px;
                    background-color: $azulMarinho;
                    border: none;
                    border-radius: 7px;
                    color: $branco;
                    cursor: pointer;

                    &:hover {
                        background-color: $azulMarinhoClaro;
                    }
                }

                .btn-back {
                    background: none;
                    color: $cinzaFrio;
                    display: none;

                    &.active {
                        display: block;
                    }

                    &:hover {
                        background: none;
                        color: $azulMarinho;
                    }
                }
            }
        }
    }
}